pipeline/PL_PARENT_SQLSERVER_ADLS.json
{
	"name": "PL_PARENT_SQLSERVER_ADLS",
	"properties": {
		"activities": [
			{
				"name": "LKP_SQLSERVER_WATERMARK_DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSERVER_TBLWMLKP",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachSQLTABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_SQLSERVER_WATERMARK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_SQLSERVER_WATERMARK_DW').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}